/* @import './reset.css'; */
/* @font-face {
    font-family: 'Noto Sans KR';
    src:url('./assets/fonts/NotoSansKR-Regular.otf')
}

* {
    font-family: 'Noto Sans KR', sans-serif;
} */

:root{
    --main_color:#6D36F0;
}

.main_color{
    color:#6D36F0;
}

/*font-weight: regular light bold만*/

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.otf") format("otf");
}

* {
  font-family: "Pretendard";
}
